<html>
<head>
    <title>Update EJS Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a href="/create">Create user</a>
</div>

<div class="form-add-new">
    <form action="/update-user" method="post">
        <fieldset>
            <legend>Update a user:</legend>
            <label for="id" style="display: none">Id:</label>
            <input type="hidden" id="id" name="id" value="<%= userEdit.id%>" ><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= userEdit.email%>"><br><br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="<%= userEdit.name%>"><br><br>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" value="<%= userEdit.city%>"><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
</body>
</html>