<html>
<head>
    <title>Sample EJS Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to the Sample EJS Page</h1>
    <p>This is a simple example of an EJS template.</p>
<div>
    <img class="thuyvu" src="/image/dinosad.jpg">
</div>
</body>


</html>